@font-face {
    font-family: "Google Sans";
    src: local(Google Sans Regular), url("./font/googlesans/GoogleSans-Regular.ttf") format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Google Sans";
    src: local(Google Sans Regular Italic), url("./font/googlesans/GoogleSans-Italic.ttf") format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Google Sans";
    src: local(Google Sans Medium), url("./font/googlesans/GoogleSans-Medium.ttf") format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Google Sans";
    src: local(Google Sans Medium Italic), url("./font/googlesans/GoogleSans-MediumItalic.ttf") format("ttf");
    font-weight: 500;
}
    
@font-face {
    font-family: "Google Sans";
    src: local(Google Sans Bold), url("./font/googlesans/GoogleSans-Bold.ttf") format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Google Sans";
    src: local(Google Sans Bold Italic), url("./font/googlesans/GoogleSans-BoldItalic.ttf") format("ttf");
    font-weight: 700;
}

.pageNav {
    width: 100%;
    background: #FFC107;
    height: 60px;
    line-height: 60px;
    padding-top: 5px;
}

.pageNav:first-child:before {
    content: 'Awesome Tree Visualization';
    font-weight: 700;
    padding: 0px 50px;
}

.menuLink {
    display: inline-block;
    padding: 0px 16px;
    margin-left: 8px;
    color: #212121;
    text-decoration: none;
    transition: .3s background;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

body {
    font-family: 'Google Sans';
    background: #fefefe;
    margin: 0;
}

.menuLink.active, .menuLink:hover {
    background: #fefefe;
}